include mixins

+top-menu(item)
.container-fluid.maitext
    h1.text-center Морські пригоди
    p.text-center Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
    a(href="#") детальніше

.container-fluid.godown 
    h3.text-center обери свій план подорожі
    p.text-center Наша фірма -лідер на ринку у своїй сфері




script(src="js/scripts.js")    